# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ESLint files
eslint_report.json

# Node files
/node_modules

# Build files
/dist 

# Environment files
/.vscode
/.idea
/.env
/.cache

# Hardhat files
/cache
/artifacts
/deployments/hardhat/

# OSX files
.DS_Store

# Coverage files
/.nyc_output
/coverage

# Typechain files
/src/types/contracts/**
/src/types/abi/**
