[submodule "contracts/merkle-distributor/lib/openzeppelin-contracts"]
	path = contracts/merkle-distributor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/merkle-distributor/lib/prb-math"]
	path = contracts/merkle-distributor/lib/prb-math
	url = https://github.com/hifi-finance/prb-math
