# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node files
/node_modules

# Build files
/dist 

# Environment files
/.vscode
/.idea
/.env
/.cache

# Hardhat files
/cache
/artifacts

# OSX files
.DS_Store
